/*
Syntax error: Undefined variable: "$classPrefix".
        on line 4 of /var/www/hackdance/html/scss/general_foundicons_ie7.scss

1: /var/www/hackdance/html/scss/general_foundicons_ie7.scss

Backtrace:
/var/www/hackdance/html/scss/general_foundicons_ie7.scss:4
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/script/variable.rb:49:in `_perform'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/script/node.rb:40:in `perform'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:398:in `block in run_interp_no_strip'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:396:in `map'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:406:in `run_interp'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:313:in `visit_rule'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/home/rob/.gem/ruby/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/rob/.gem/ruby/2.0.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/bin/compass:44:in `call'
/home/rob/.gem/ruby/2.0.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/rob/.gem/ruby/2.0.0/bin/compass:23:in `load'
/home/rob/.gem/ruby/2.0.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$classPrefix\".\A         on line 4 of /var/www/hackdance/html/scss/general_foundicons_ie7.scss\A \A 1: /var/www/hackdance/html/scss/general_foundicons_ie7.scss"; }
