@import "settings";
@import "foundation";

@import "foundation-icons";

@import url(http://fonts.googleapis.com/css?family=Actor);

body {
}

body.home {
  background: url(../img/elkhorn_coral.jpg) no-repeat center center fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/elkhorn_coral.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/elkhorn_coral.jpg', sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.turtles {
  background: url(../img/turtles.jpg) no-repeat center center fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/turtles.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/turtles.jpg', sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-bar {
/*  filter: alpha(opacity=80);
 *  opacity: 0.8;
 */
}

ul.title-area li.name a {
  width: 114px;
  height: 147px;
  display: block;
  background: black url(/img/bglogo.gif) 0 0 no-repeat;
}

div.stats {
  position: absolute;
  top: 5em;
  right: 2em;
  width: 24em;
  padding: 1em;
  font-size: 0.8em;
  background-color: white;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.engagement {
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding-bottom: 0.5em;
  color: #e67e22;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.engagement .foundicon {
  position: relative;
  top: 0.25em;
  font-size: 2em;
}

div.stats > p {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

div.stats div.progress p {
  font-size: 0.9em;
  display: block;
  float: right;
  margin: 0;
}

div.content {
  width: 40%;
  margin: 1em 1em 1em 142px;
  padding: 1em;
  background: rgba(255,255,255,0.67);
}

div.content div.row {
  filter: alpha(opacity=100);
  opacity: 1;
}

div.content div.share {
  font-size: 3.0em;
  margin-bottom: 0.5em;
}

div.content div.resources {
  margin-bottom: 1em;
}
