<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <p>PlantAFish &ldquo;re&ndash;plants&rdquo; aquatic species of plants and animals in environmentally stressed areas to make the oceans healthier. Along the way, we impassion stewards of the natural world.</p>
      <p><img src="/img/mangrove_kids.jpg" alt="PlantAFish student volunteers transplant mangrove trees" /></p>
      <p>Our work is arranged around campaigns supporting specific projects. Some of our current projects:</p>
      {{ }}
      <ul class="no-bullet">
        <li>
        </li>
      </ul>
    </div>
  </div>
</div>
