<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Plant a Fish re&ndash;plants aquatic wildlife in environmentally stressed areas.<h1>
          <p>Along the way, we impassion stewards of the natural world. <strong>We want your support.</strong></p>
      <p><img src="/img/mangrove_kids.jpg" alt="PlantAFish student volunteers transplant mangrove trees" /></p>
      <p>
        Read about our current projects.
      </p>
      <ul class="no-bullet">
        <li ng-repeat="project in projects">
        <a href="/campaigns/{{project.Id}}" alt="{{project.Title}}">{{project.Title}}</a>: {{project.Introduction | shorter}} {{project.VideoId}}
        </li>
      </ul>
    </div>
  </div>
</div>
