<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>This site is a teaching resource.</h1>
      <p>
        Plant a Fish's first project allowed us to work with Urban Assembly
        New York Harbor School, a public shool in Bushwick, Brooklyn. That was
        2010, and our commitment to education and youth outreach continues
        to be a primary focus.
      </p>
      <p><img src="/img/fabien_and_kids.jpg" alt="Plant a Fish's Fabien Cousteau with young students at the ocean." /></p>
      <p>
        Today we work with schools and homeschoolers in multiple countries,
        and provide teaching materials and projects for thousands of students.
      </p>
      <h2>Some of the teaching resources we offer</h2>
      <p>
        <strong>Classroom materials.</strong> Each of our projects offers a downloadable packet
        of fact sheets, science unit curriculum, and motivational materials.
      </p>
      <p>
        <strong>Fundraising projects for students.</strong> Our fundraising system allows teachers, students, and individuals to
        create their own personal fundraising campaigns underneath of any of
        our projects. Personal projects have their own goals, social media
        integration, favorites, and contributors. Students can participate
        in classroom fundraising projects or even set up their own.
      </p>
      <p>
        <strong>Plant a Fish in the classroom.</strong> As often as possible, Plant a Fish sends hands-on volunteers and
        representatives into classrooms to share their experience and passion
        with students. Fabien Cousteau is particularly fond of the time he
        is able to spend sharing his love of the ocean.
      </p>
      <p>
        <strong>A classroom in the field.</strong> Plant a Fish is working in dozens of locations throughout the western
        hemisphere. Students of all ages can volunteer to work with experienced
        oceanographers, biologists, and volunteers.
      </p>

    </div>
  </div>
</div>
